<c-modal #staticBackdropModal backdrop="static" id="staticBackdropModal" [(visible)]="isVisible">
  <c-modal-header class="alert alert-warning">

    <h5 cModalTitle><ng-content select="[modal-header]"></ng-content></h5>
     
    <button [cModalToggle]="staticBackdropModal.id" cButtonClose></button>
  </c-modal-header>
  <c-modal-body>

    <ng-content select="[modal-body]"></ng-content>
    
  </c-modal-body>
  <c-modal-footer>
    <button [cModalToggle]="staticBackdropModal.id" cButton color="secondary">
      Cancelar
    </button>
    <button 
        cButton 
        class="btn btn-danger" 
        (click)="confirmCallback()"
    >Excluir</button>
  </c-modal-footer>
</c-modal>
