<div class="card">
  <div class="card-header d-flex justify-content-between align-items-center">
    <strong>Novo Produto</strong>
    <a class="btn btn-sm btn-secondary" [routerLink]="['/produtos']">
      Voltar
    </a>
  </div>

  <div class="card-body">
    <app-produto-form 
      [botaoTexto]="'Criar'" 
      (submitAction)="criarProduto($event)">
    </app-produto-form>
  </div>
</div>

<app-item-feedback [apiErrors]="apiErrors" [successMsg]="msgSuccess">
  <a class="btn btn-sm btn-info text-dark ms-3" 
    success-actions
    *ngIf="produtoCreated?.id" 
    [routerLink]="['/produtos/editar', produtoCreated?.id]">
      <i class="cil-magnifying-glass me-1"></i> Visualizar
  </a>
</app-item-feedback>